@require 'default.styl'

p
    &.credit
        font-size 10pt
        font-style oblique
        margin 10px auto
        text-align right
        width 360px
    &.quote
        font-size 12pt
        margin 45px auto 10px
        text-align left
        width 400px